body {
    margin: 0px;
    font-family: helvetica, times;
}

.headerFooter {
    background-color: #1e1e1e;
}

#headerBar {
    position: absolute;
    width: 100%;
    top: 0%;
    height: 15%;
}

.headerFooterText {
    color: #ffffff;
}

#title {
    position: absolute;
    font-size: 18pt;
    font-weight: bold;
    width: 100%;
    top: 20%;
    text-align: center;
}

/*This positions where the menu items will go*/
#menu {
    position: absolute;
    width: 70%;
    left: 50%;
    margin-left: -35%;
    top: 50%;
    height: 50%;
}

/*This gives each button about a quater of the width assigned for the menu*/
.buttonOne, .buttonTwo, .buttonThree, .buttonFour {
    position: relative;
    float: left;
    width: 24%;
    height: 100%;
    text-align: center;
}

#pageOne, #pageTwo, #pageThree, #pageFour {
    position: absolute;
    width: 50%;
    top: 35%;
    left: 50%;
    margin-left: -25%;
    bottom: 0%;
}

#mainBackground {
    background-color: #ffffff;
}

.backgroundColourText {
    color: #000000;
}

/*This positions where the main text can go*/
#mainBody {
    position: absolute;
    width: 85%;
    top: 20%;
    bottom: 20%;
    left: 50%;
    margin-left: -42.5%;
}

.paragraph {
    text-align: justify;
    position: relative;
}

/*This sets the first paragraphs font size*/
#topParagraph {
    font-size: 18pt;
}

/*This sets the second paragraphs font size*/
#middleParagraph {
    font-size: 14pt;
}

#hyperlink, #hyperlinkClicked {
    text-decoration: underline;
}

#footerBar {
    position: absolute;
    width: 100%;
    top: 85%;
    height: 15%;
}

/*This positions the text in the footer*/
#additionalInfo {
    position: absolute;
    width: 40%;
    left: 50%;
    margin-left: -20%;
    height: 50%;
    top: 25%;
}